[color]
	ui = auto
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = webduvet
	email = andrej.bartko@gmail.com
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
  editor = /usr/bin/vi
